
.home_some_fetaures{
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.single_fetaures{
    padding-top: 40px;
    padding-bottom: 40px
}
.title{
    font-size: 24px;
    line-height: 32px;
    font-family: Livvic,sans-serif;
    font-weight: 600;
    color: #2b1b9a;
    margin-bottom: 0.5em;
}

.img_wrapper{
    width: 180px;
    margin: auto;
    height: 160px;
    margin-bottom: 25px;
}

.des{
    color: #2b1b9a;
    font-family: Livvic,sans-serif;
    font-size: 16px;
    font-weight: 500;
}


@media (max-width: 767.98px) {
    .home_some_fetaures{
        padding-bottom: 80px;
        padding-top: 0;
    }
 }